# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\sof3011\demo_up_git\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
